template(name='Footer')
  .footer
    .ui.bottom.fixed.borderless.menu
      .ui.container
        a.item Acerca de Nosotros
        a.item Blog
        .right.menu
          a.item: i.facebook.icon
          a.item: i.twitter.icon
          a.item: i.envelope.icon
          a.item Tamarindou by NopalHex
