template(name='Welcome')
  .welcome
    .ui.grid.container
      .row
        .column
          .ui.massive.message
            h1.ui.header Tamarindou
            p
              | Lorem ipsum shit shit shit
            .ui.right.labeled.primary.icon.button
              i.chevron.right.icon
              | Registro
