template(name='Welcome')
  .welcome
    .ui.container
      .ui.massive.message
        h1.ui.header S&eacute; el Rey del Barrio
        p
          | Pon a prueba tus habilidades en el arte tan <strong>mexicano</strong> del
          | <a href="https://es.wikipedia.org/wiki/Albur_(idioma_espa%C3%B1ol)">albur</a>
          | y el <a href="https://es.wikipedia.org/wiki/Doble_sentido">doble sentido</a>.
          | Demuestra que aquí <em>nomás</em> tus chicharrones truenan.
          | Conviértete en el más dicharachero de tus amigos miesntras te diviertes y
          | aprendes.
        .ui.right.labeled.primary.icon.button
          i.chevron.right.icon
          | ¡Arre, pues!

      .ui.four.doubling.stackable.cards
        .ui.card
          .image: img
          .center.aligned.content
            .header Header
        .ui.card
          .image: img
          .center.aligned.content
            .header Header
        .ui.card
          .image: img
          .center.aligned.content
            .header Header
        .ui.card
          .image: img
          .center.aligned.content
            .header Header

      h1 ¿C&oacute;mo funciona?
      p
        | Bla bla bla bla bla
