template(name='ChallengeTokenSyllable')
  //-.ui.basic.segment
    h2.ui.header
      | Challenge Token Syllable

  #drop-box.ui
    each t in drop_tokens
      button.ui.blue.compact.button(value="#{t}") #{t}

  .ui.divider

  #pick-box.ui
    each t in pick_tokens
      button.ui.compact.button(value="#{t}") #{t}
