template(name='ChallengeTokenSyllable')
  //-.ui.basic.segment
  .ui.header
    | Challenge Token Syllable

  #drop-box.ui
    each t in dropTokens
      button.ui.blue.compact.button(value="#{t}") {{tokenText t}}

  .ui.divider

  #pick-box.ui
    each t in pickTokens
      button.ui.compact.button(value="#{t}") {{tokenText t}}
