template(name='Quiz')
  .quiz
    //- each(quiz in quizzes)
    //- h1= quiz.template
    .ui.text.container
      +_Quiz
      +Quiz_TrueOrFalse
      //-+Quiz_MultipleChoice
      //-+Quiz_SingleChoice


template(name="_Quiz")
  .ui.segment
    .ui.grid
      .two.column.row
        .olive.left.floated.column
          p Left
        .green.right.floatd.right.aligned.column
          p Rigth
      .row
        .red.column
          p Progress
      .row
        .olive.column
          p Question
          p Solutions
      .two.column.row
        .olive.left.floated.column
          p Left
        .green.right.floated.right.aligned.column
          p Right


  .ui.segment
    button.ui.right.floated.button Right
    i.big.check.circle.outline.icon
    span
      | Hello World

  .ui.segments
    .ui.segment
      .ui
        p header
      .ui.progress
        .bar
      .ui.header
        h2.header question
    .ui.secondary.segment
      .ui.left.floated
        p Left message
      .ui.right.floated
        .button Floated

  .ui.top.attached.message
    p Top
  .ui.attached.fluid.segment
    p Middle
  .ui.bottom.attached.message
    .ui.two.column.stackable.grid.container
      .green.column
        p Bottom
      .blue.column
        p Bottom

template(name='Quiz_Header')
  .ui.top.attached.message
    .header Cierto o Falso
    p Es cierto o falso

template(name='Quiz_Footer')
  .ui.bottom.attached.message
    .ui.right.aligned.container
      button.ui.basic.right.labeled.icon.button
        i.trash.icon
        | Limpiar
      button.ui.right.labeled.icon.button
        i.send.icon
        | Revisar


template(name='Quiz_TrueOrFalse')
  +Quiz_Header
  form.ui.form.attached.fluid.segment
    .ui.dividing.header
      | Lorem ipsum shit shit
    .ui.field
      .ui.center.aligned.container
        .ui.buttons
          button.ui.green.button Cierto
          .or(data-text="o")
          button.ui.red.button Falso
  +Quiz_Footer

template(name='Quiz_MultipleChoice')
  +Quiz_Header
  form.ui.form.attached.fluid.segment
    .ui.dividing.header
      | bla blajlbkabj abj ;lba blajbal bbaklbaj
      | labjabl;ka akjkaljkdfajskfljas faifowuerqkfs;fujpe3wi
      | fjepqwiufw; a aiosef asfdioapwe fasl;fja wds
    .ui.fluid.grouped.fields
      .ui.field
        .ui.checkbox
          input(type="checkbox")
          label Option 1
      .ui.field
        .ui.checkbox
          input(type="checkbox")
          label Option 2
      .ui.field
        .ui.checkbox
          input(type="checkbox")
          label Option 3
      .ui.field
        .ui.checkbox
          input(type="checkbox")
          label Option 4
  +Quiz_Footer


template(name='Quiz_SingleChoice')
  +Quiz_Header
  form.ui.form.attached.fluid.segment
    .ui.dividing.header
      | bla blajlbkabj abj ;lba blajbal bbaklbaj
      | labjabl;ka akjkaljkdfajskfljas faifowuerqkfs;fujpe3wi
      | fjepqwiufw; a aiosef asfdioapwe fasl;fja wds
    .ui.fluid.grouped.fields
      label This is a label
      .ui.field
        .ui.radio.checkbox
          input(type="radio" name="radiochoice")
          label Option 1
      .ui.field
        .ui.radio.checkbox
          input(type="radio" name="radiochoice")
          label Option 2
      .ui.field
        .ui.radio.checkbox
          input(type="radio" name="radiochoice")
          label Option 3
      .ui.field
        .ui.radio.checkbox
          input(type="radio" name="radiochoice")
          label Option 4
  +Quiz_Footer
