template(name='Quiz')
  .quiz
    //- each(quiz in quizzes)
    //- h1= quiz.template
    .ui.grid.container
      .ui.text.container
        +_Quiz
        +Quiz_TrueOrFalse
        +Quiz_MultipleChoice
        +Quiz_SingleChoice


template(name="_Quiz")
  .ui.segments

    .ui.segment

      #quiz-progress.ui.indicating.progress(data-value="10" data-total="20")
        .bar

      h2.ui.header
        | No es lo mismo un metro de encaje negro, que...

    .ui.basic.segment
      button.ui.primary.compact.big.button un
      button.ui.primary.compact.big.button negro

    .ui.basic.segment
      button.ui.compact.big.button metro
      button.ui.compact.big.button un
      button.ui.compact.big.button encaje
      button.ui.compact.big.button te

    .ui.right.aligned.segment.container
      button.ui.right.labeled.icon.button
        i.fast.forward.icon
        | Saltar
      button.ui.right.labeled.icon.button
        i.send.icon
        | Revisar
      button.ui.primary.right.labeled.icon.button
        i.right.chevron.icon
        | Continuar

  .ui.positive.icon.message
    i.check.circle.outline.icon
    .content
      .header ¡Correcto!
      p
        button.ui.basic.button
          | Reportar un problema
        button.ui.basic.button
          | Discutir soluci&oacute;n

  .ui.negative.icon.message
    i.remove.circle.outline.icon
    .content
      .header ¡Incorrecto!
      p
        button.ui.basic.button
          | Reportar un problema
        button.ui.basic.button
          | Discutir soluci&oacute;n


template(name='Quiz_Header')
  .ui.top.attached.message
    .header Cierto o Falso
    p Es cierto o falso

template(name='Quiz_Footer')
  .ui.bottom.attached.message
    .ui.right.aligned.container
      button.ui.basic.right.labeled.icon.button
        i.trash.icon
        | Limpiar
      button.ui.right.labeled.icon.button
        i.send.icon
        | Revisar


template(name='Quiz_TrueOrFalse')
  +Quiz_Header
  form.ui.form.attached.fluid.segment
    .ui.dividing.header
      | Lorem ipsum shit shit
    .ui.field
      .ui.center.aligned.container
        .ui.buttons
          button.ui.green.button Cierto
          .or(data-text="o")
          button.ui.red.button Falso
  +Quiz_Footer

template(name='Quiz_MultipleChoice')
  +Quiz_Header
  form.ui.form.attached.fluid.segment
    .ui.dividing.header
      | bla blajlbkabj abj ;lba blajbal bbaklbaj
      | labjabl;ka akjkaljkdfajskfljas faifowuerqkfs;fujpe3wi
      | fjepqwiufw; a aiosef asfdioapwe fasl;fja wds
    .ui.fluid.grouped.fields
      .ui.field
        .ui.checkbox
          input(type="checkbox")
          label Option 1
      .ui.field
        .ui.checkbox
          input(type="checkbox")
          label Option 2
      .ui.field
        .ui.checkbox
          input(type="checkbox")
          label Option 3
      .ui.field
        .ui.checkbox
          input(type="checkbox")
          label Option 4
  +Quiz_Footer


template(name='Quiz_SingleChoice')
  +Quiz_Header
  form.ui.form.attached.fluid.segment
    .ui.dividing.header
      | bla blajlbkabj abj ;lba blajbal bbaklbaj
      | labjabl;ka akjkaljkdfajskfljas faifowuerqkfs;fujpe3wi
      | fjepqwiufw; a aiosef asfdioapwe fasl;fja wds
    .ui.fluid.grouped.fields
      label This is a label
      .ui.field
        .ui.radio.checkbox
          input(type="radio" name="radiochoice")
          label Option 1
      .ui.field
        .ui.radio.checkbox
          input(type="radio" name="radiochoice")
          label Option 2
      .ui.field
        .ui.radio.checkbox
          input(type="radio" name="radiochoice")
          label Option 3
      .ui.field
        .ui.radio.checkbox
          input(type="radio" name="radiochoice")
          label Option 4
  +Quiz_Footer
