template(name="Quiz")
  .quiz
    .ui.segments
      .ui.segment
        #quiz-progress.ui.indicating.progress(data-value="10" data-total="20")
          .bar
        with getChallenge
          +Challenge
      .ui.secondary.segment
        +QuizControl
      //-+QuizResult

template(name="QuizControl")
  .ui.right.aligned.container
    button.ui.right.labeled.icon.button
      i.fast.forward.icon
      | Saltar
    button.ui.right.labeled.icon.button
      i.send.icon
      | Revisar
    button.ui.primary.right.labeled.icon.button
      i.right.chevron.icon
      | Continuar

template(name="QuizResult")
  //-if correct
  .ui.bottom.attached.positive.icon.message
    i.check.circle.outline.icon
    .content
      .header ¡Correcto!
      //-p
      //-  button.ui.basic.button
      //-    | Reportar un problema
      //-  button.ui.basic.button
      //-    | Discutir soluci&oacute;n

  //-else
  .ui.bottom.attached.negative.icon.message
    i.remove.circle.outline.icon
    .content
      .header ¡Incorrecto!
      //-p
      //-  button.ui.basic.button
      //-    | Reportar un problema
      //-  button.ui.basic.button
      //-    | Discutir soluci&oacute;n
