template(name="Quiz")
  .quiz
    .ui.segment
      +_QuizProgress
      each challenges
        +Challenge

      .ui.divider
      +_QuizControl
    +_QuizResult

template(name="_QuizProgress")
  .ui.container
    #quiz-progress.ui.indicating.progress(data-value="10" data-total="20")
      .bar

template(name="_QuizControl")
  .ui.right.aligned.container
    button.ui.right.labeled.icon.button
      i.fast.forward.icon
      | Saltar
    button.ui.right.labeled.icon.button
      i.send.icon
      | Revisar
    button.ui.primary.right.labeled.icon.button
      i.right.chevron.icon
      | Continuar

template(name="_QuizResult")
  if correct
    .ui.positive.icon.message
      i.check.circle.outline.icon
      .content
        .header ¡Correcto!
        //-p
        //-  button.ui.basic.button
        //-    | Reportar un problema
        //-  button.ui.basic.button
        //-    | Discutir soluci&oacute;n
  else
    .ui.negative.icon.message
      i.remove.circle.outline.icon
      .content
        .header ¡Incorrecto!
        //-p
        //-  button.ui.basic.button
        //-    | Reportar un problema
        //-  button.ui.basic.button
        //-    | Discutir soluci&oacute;n
