template(name="Quiz")
  .quiz
    .ui.segments

      .ui.segment
        .quiz-content
          //- Quiz Progress
          #quiz-progress.ui.indicating.progress
            .bar

          if stateBegin
            .ui.header ¿Estás listo para comenzar?
          
          if stateEnd
            .ui.header Resultados

          //- Quiz Challenge
          if stateReady
            with challenge
              +Challenge

      //- Quiz Control
      .ui.secondary.segment
        .ui.right.aligned.container

          if stateBegin
            button#quiz-start.ui.primary.right.labeled.icon.button
              i.chevron.right.icon
              | Comenzar
          
          if stateAnswer
            button#challenge-skip.ui.right.labeled.icon.button
              i.fast.forward.icon
              | Saltar
            button#challenge-review.ui.right.labeled.icon.button
              i.send.icon
              | Revisar

          if stateResult
            button#challenge-next.ui.primary.right.labeled.icon.button
              i.chevron.right.icon
              | Continuar
              
          if stateEnd
            button#challenge-next.ui.primary.right.labeled.icon.button
              i.arrow.right.icon
              | Salir

      //- QuizResult
      if stateResult
        if isCorrect
          .ui.bottom.attached.positive.icon.message
            i.check.circle.outline.icon
            .content
              .header ¡Correcto!
              //-p
              //-  button.ui.basic.button
              //-    | Reportar un problema
              //-  button.ui.basic.button
              //-    | Discutir soluci&oacute;n

        if isIncorrect
          .ui.bottom.attached.negative.icon.message
            i.remove.circle.outline.icon
            .content
              .header ¡Incorrecto!
              //-p
              //-  button.ui.basic.button
              //-    | Reportar un problema
              //-  button.ui.basic.button
              //-    | Discutir soluci&oacute;n
