template(name='Header')
  .header
    .ui.top.fixed.inverted.borderless.menu
      .ui.container
        a.header.item
          img.logo(width="64")
          | &nbsp; Tamarindou
        .right.menu
          a.item Acerca de Nosotros
          a.item Blog
          .item
            .ui.right.labeled.primary.icon.button
              i.sign.in.icon
              | Ingresar
